@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham-dark/sass/ag-theme-balham-dark.scss";

@import "../node_modules/ag-grid-community/src/styles/ag-theme-material/vars/ag-theme-material-vars"; // import variables matherial-ui

$font-size: 1rem;
$card-radius: 10px;
$selected-color: $value-change-delta-up-color;
//$grid-size: 90px;
// $row-height: $grid-size * 6;
@import "../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss";

@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
